<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="SubscriptionKey" value="{Subscription_KEY}"/>
    <add key="LuisAppId" value="{LUIS_APP_ID}"/>
    <add key="LuisSubscriptionId" value="{LUIS_SUBSCRIPTION_ID}"/>
  </appSettings>
</configuration>