@model IEnumerable<CFOP.Server.Controllers.DTO.ConnectionDTO>

<div class="row" style="margin-top: 10px">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <form method="post">
                    <input type="text" name="text"/>
                    <input type="submit" value="Send to all clients"/>
                </form>
                @if (TempData["Message"] != null)
                {
                    <span class="text-danger">@TempData["Message"]</span>
                }
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                List of connected clients
            </div>

            <div class="panel-body">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <td>Id</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        @if (Model.Count() == 0)
                        {
                            <td>No connections found</td>
                        }
                        else
                        {
                            foreach (var connection in Model)
                            {
                                <td>@connection.Id</td>
                            }
                        }
                    </tr>
                    </tbody>
                </table>
                <input type="button" value="Refresh" onclick="location.href = location.href"/>
            </div>
        </div>
    </div>
</div>